<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580099723061-b3pmonk1k305vra730pons78qpcmis96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580099723061-b3pmonk1k305vra730pons78qpcmis96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>580099723061-u6ihmicd1jon0u6c1dcsrtiuk6hm9mia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKCmURve2WucAS1AHUF9JD239rE-ZZ8FY</string>
	<key>GCM_SENDER_ID</key>
	<string>580099723061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenluck.greenluck</string>
	<key>PROJECT_ID</key>
	<string>green-luck-34362</string>
	<key>STORAGE_BUCKET</key>
	<string>green-luck-34362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580099723061:ios:8eba692897e2942614467c</string>
</dict>
</plist>